In [11]:
import pandas as pd

In [6]:
with open("reviews.json", 'r', encoding='utf-8') as w: #Abro el json de las reviews
    data = w.readlines()
    
datos = [eval(line.strip()) for line in data]

resenia = pd.DataFrame(datos)

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [ ]:
resenia.to_csv('resenia.csv') #Guardo las reviews en csv para que sea mas facil abrir

In [28]:
resenia= pd.read_csv('resenia.csv') #Abro y muestro su contenido
resenia.head()

,Unnamed: 0,user_id,user_url,reviews
0,0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [29]:
resenia=resenia.drop(['Unnamed: 0'], axis=1) #Borro la columna generada de los indices cuando se guarda el csv
resenia.head()

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [ ]:
resenia.to_csv('resenia_limpio.csv', index = False) #Guardo sin el indice

In [30]:
resenia_limpia= pd.read_csv('resenia_limpio.csv') #Abro

In [31]:
resenia_limpia.head() #Reviso

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"[{'funny': '', 'posted': 'Posted November 5, 2..."
1,js41637,http://steamcommunity.com/id/js41637,"[{'funny': '', 'posted': 'Posted June 24, 2014..."
2,evcentric,http://steamcommunity.com/id/evcentric,"[{'funny': '', 'posted': 'Posted February 3.',..."
3,doctr,http://steamcommunity.com/id/doctr,"[{'funny': '', 'posted': 'Posted October 14, 2..."
4,maplemage,http://steamcommunity.com/id/maplemage,"[{'funny': '3 people found this review funny',..."

In [32]:
resenia_limpia['reviews'][0] #Reviso las reseñas de los usuarios

'[{\'funny\': \'\', \'posted\': \'Posted November 5, 2011.\', \'last_edited\': \'\', \'item_id\': \'1250\', \'helpful\': \'No ratings yet\', \'recommend\': True, \'review\': \'Simple yet with great replayability. In my opinion does "zombie" hordes and team work better than left 4 dead plus has a global leveling system. Alot of down to earth "zombie" splattering fun for the whole family. Amazed this sort of FPS is so rare.\'}, {\'funny\': \'\', \'posted\': \'Posted July 15, 2011.\', \'last_edited\': \'\', \'item_id\': \'22200\', \'helpful\': \'No ratings yet\', \'recommend\': True, \'review\': "It\'s unique and worth a playthrough."}, {\'funny\': \'\', \'posted\': \'Posted April 21, 2011.\', \'last_edited\': \'\', \'item_id\': \'43110\', \'helpful\': \'No ratings yet\', \'recommend\': True, \'review\': \'Great atmosphere. The gunplay can be a bit chunky at times but at the end of the day this game is definitely worth it and I hope they do a sequel...so buy the game so I get a sequel!\'}]'

In [33]:
resenia_limpia['reviews']  = resenia_limpia['reviews'].str[1:-1] #Elimino los corchetes para normalizar en diccionario

In [34]:
resenia_limpia['reviews'][0] #Reviso

'{\'funny\': \'\', \'posted\': \'Posted November 5, 2011.\', \'last_edited\': \'\', \'item_id\': \'1250\', \'helpful\': \'No ratings yet\', \'recommend\': True, \'review\': \'Simple yet with great replayability. In my opinion does "zombie" hordes and team work better than left 4 dead plus has a global leveling system. Alot of down to earth "zombie" splattering fun for the whole family. Amazed this sort of FPS is so rare.\'}, {\'funny\': \'\', \'posted\': \'Posted July 15, 2011.\', \'last_edited\': \'\', \'item_id\': \'22200\', \'helpful\': \'No ratings yet\', \'recommend\': True, \'review\': "It\'s unique and worth a playthrough."}, {\'funny\': \'\', \'posted\': \'Posted April 21, 2011.\', \'last_edited\': \'\', \'item_id\': \'43110\', \'helpful\': \'No ratings yet\', \'recommend\': True, \'review\': \'Great atmosphere. The gunplay can be a bit chunky at times but at the end of the day this game is definitely worth it and I hope they do a sequel...so buy the game so I get a sequel!\'}'

In [35]:
resenia_limpia['reviews']= resenia_limpia['reviews'].str.split('}, {') #Separo las reseñas

In [37]:
resenia_limpia=resenia_limpia.explode('reviews', ignore_index=True) #Multiplico los registros para que quede un registro por reseña y no un registro con muchas reseñas

In [11]:
resenia_limpia.head() #Reviso

,user_id,user_url,reviews
0,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"{'funny': '', 'posted': 'Posted November 5, 20..."
1,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"'funny': '', 'posted': 'Posted July 15, 2011.'..."
2,76561197970982479,http://steamcommunity.com/profiles/76561197970...,"'funny': '', 'posted': 'Posted April 21, 2011...."
3,js41637,http://steamcommunity.com/id/js41637,"{'funny': '', 'posted': 'Posted June 24, 2014...."
4,js41637,http://steamcommunity.com/id/js41637,"'funny': '', 'posted': 'Posted September 8, 20..."

In [38]:
resenia_limpia['reviews'] = resenia_limpia['reviews'].str.replace("{", " ") #Normalizo las reseñas para que queden todas iguales sin llaves ya que algunas tienen llaves y otras no

In [40]:
resenia_limpia['reviews'] = resenia_limpia['reviews'].str.replace("}", " ")

In [41]:
resenia_limpia['reviews'] = resenia_limpia['reviews'].apply(lambda x: "{" + x + "}") #Le agrego las llaves

In [ ]:
import as #Convierto las reseñas en diccionarios
def texto_a_diccionario(texto):
    try:
        if texto.startswith("{") and texto.endswith("}"):
            diccionario = ast.literal_eval(texto)
            return diccionario
        else:
            return None
    except Exception as e:
        return None  
resenia_limpia['reviews'] = resenia_limpia['reviews'].apply(texto_a_diccionario)

In [43]:
resenia_limpia['reviews'][1259] #Reviso

{'funny': '2 people found this review funny',
 'posted': 'Posted May 23, 2015.',
 'last_edited': '',
 'item_id': '366660',
 'helpful': '0 of 1 people (0%) found this review helpful',
 'recommend': True,
 'review': 'É DO ♥♥♥♥♥♥♥COMPRA LOGO FDP'}

In [44]:
columna_res= pd.json_normalize(resenia_limpia['reviews']) #Convierto las reseñas en un dataframe

In [45]:
columna_res.head() #Reviso

,funny,posted,last_edited,item_id,helpful,recommend,review
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...

In [46]:
columna_res['posted'] = columna_res['posted'].str.replace("Posted", "") #Limpio la fecha

In [47]:
columna_res.shape #Comparo las tablas para verificar que tengan la misma cantidad de registros y asi unirlas

(59333, 7)

In [48]:
resenia_limpia.shape

(59333, 3)

In [49]:
columna_res['User'] = resenia_limpia['user_id'] #Agrego a las reseñas el usuario que la realizo

In [50]:
columna_res.head()

,funny,posted,last_edited,item_id,helpful,recommend,review,User
0,,"November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...,76561197970982479
1,,"July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.,76561197970982479
2,,"April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...,76561197970982479
3,,"June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...,js41637
4,,"September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...,js41637

In [51]:
columna_res=columna_res.dropna() #Elimino los valores nulos

In [52]:
columna_res.to_csv('review_funciones.csv') #Guardo

In [12]:
review=pd.read_csv('review_funciones.csv').drop('Unnamed: 0', axis=1) #Abro

In [7]:
eliminar= ['funny', 'last_edited', 'helpful']

In [8]:
review.drop(eliminar,axis=1,inplace=True)

In [54]:
review['item_id'] = review['item_id'].astype(int) #Transformo item_id en int

In [55]:
review = review.dropna(subset=['review']) #Dropeo los valores nulos de la columna review

In [14]:
review.to_csv('review_funciones.csv', index=False)#guardo

Aqui realizo el ETL la tabla que voy a usar en el sistema de recomendacion

In [13]:
review= pd.read_csv('review_funciones.csv').drop(['Unnamed: 0','funny','last_edited','posted','review','helpful'], axis=1)
#Abro el csv eliminando las columnas que no necesito para mi modelo de recomendacion

In [18]:
mask = review['recommend'] == True #Creo una mascara lo que hace esta mascara es filtrar las recomendaciones en True que quiere decir que el usuario ha recomendado el juego porque le gusto

In [15]:
review.shape #Veo la dimension de reseñas

(59275, 3)

In [19]:
aux= review[mask] #Creo una tabla auxiliar con la mascara

In [20]:
aux.shape #Veo la dimension de la nueva tabla

(52446, 3)

In [23]:
aux.head() #Reviso

   item_id               User
0     1250  76561197970982479
1    22200  76561197970982479
2    43110  76561197970982479
3   251610            js41637
4   227300            js41637

In [22]:
aux.drop('recommend',axis=1,inplace=True) #Borro la columna de recomendacion que ya no me sirve

C:\Users\Andy\AppData\Local\Temp\ipykernel_1136\1325450796.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aux.drop('recommend',axis=1,inplace=True)

In [25]:
aux.to_csv('review_ml.csv', index= False) #Guardo la tabla que usare en el modelo de recomendacion