In [1]:
import pandas as pd
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.metrics.pairwise import linear_kernel
from sklearn.feature_extraction.text import TfidfVectorizer

In [2]:
df = pd.read_csv('juego_ml.csv').drop('Unnamed: 0',axis=1) #Abro el csv de los juegos

In [27]:
df.head()

,genres,title,id
0,"['Action', 'Casual', 'Indie', 'Simulation', 'S...",Lost Summoner Kitty,761140
1,"['Free to Play', 'Indie', 'RPG', 'Strategy']",Ironbound,643980
2,"['Casual', 'Free to Play', 'Indie', 'Simulatio...",Real Pool 3D - Poolians,670290
3,"['Action', 'Adventure', 'Casual']",弹炸人2222,767400
4,"['Action', 'Adventure', 'Simulation']",Battle Royale Trainer,772540

In [4]:
tfidf_vectorizer = TfidfVectorizer()
tfidf_matrix = tfidf_vectorizer.fit_transform(df['genres']) #Con esto los datos de la columna genero se transforman en vectores numericos para porder entrenarlos y luego los entreno
cosine_sim = cosine_similarity(tfidf_matrix, tfidf_matrix) #Aca compara los cosenos de los vectores para encontrar similitudes

In [5]:
def recomendacion_juego(game_id, cosine_sim=cosine_sim, df=df, top_n=5): #Creo la funcion que toma como parametros la id del juego en game_id y los otros son hiperparametros que defino
    idx = df.index[df['id'] == game_id].tolist()[0]# Busca el indice del juego del que ingrese el ID
    sim_scores = list(enumerate(cosine_sim[idx]))# Optiene la puntuacion de similitud de los cosenos
    sim_scores = sorted(sim_scores, key=lambda x: x[1], reverse=True) # Ordena los juegos por la similitud
    recommended_indices = [i[0] for i in sim_scores[1:top_n+1]]  # Obtiene los indices de los juegos recomendados
    return df['title'].iloc[recommended_indices] # Devuelve los titulos de los juegos recomendados

In [31]:
recomendacion_juego(game_id=767400)

42      Atomic Adam: Episode 1
396                    Biozone
546         Luxor: 5th Passage
1336             Dragon's Lair
1481     DuckTales: Remastered
Name: title, dtype: object

In [7]:
df2= pd.read_csv('review_ml.csv') #Abro el csv de las reseñas

In [8]:
def recomendacion_usuario (id): #Creo la funcion y tomo como parametro la id del usuario
    mask= df2['User']== id #Creo una mascara con los registros de la id de usuario
    aux= df2[mask] #Creo una tabla con los registros del usuario al que aplico la recomendacion
    aux.reset_index(drop=True, inplace=True) #Reseteo los indices ya que quedan en diferentes saltos
    recommended_games = recomendacion_juego(game_id=aux['item_id'][0]) #Aqui recomiendo sobre el juego de la primera reseña ya que hay usuarios con muchas reseñas, para recomendar llamo a la funcion anterior
    return recommended_games #Devuelve las recomendaciones

In [26]:
recomendacion_usuario('Ghoustik')

25            Twisted Enhanced Edition
44                       Advent Rising
67    Devil May Cry® 3 Special Edition
69                          Final DOOM
72                       Ultimate Doom
Name: title, dtype: object

In [17]:
df2.tail(20)

       item_id               User
52426   262850       MeloncraftLP
52427   431510         vinquility
52428   413150         vinquility
52429      440  76561198289386531
52430   304930  76561198289386531
52431   413150  76561198289386531
52432   242760        GodLoveGuru
52433   427730            sexyawp
52434   280790  76561198296402247
52435      570     JustMielThings
52436   261030  76561198306599751
52437      730           Ghoustik
52438      570  76561198310819422
52439   233270  76561198312638244
52440      130  76561198312638244
52441       70  76561198312638244
52442   362890  76561198312638244
52443   273110        LydiaMorley
52444      730        LydiaMorley
52445      440        LydiaMorley